{%-      assign group = group | plus: 1         -%}
{%-      assign group_title = 'group'           -%}
{%-      assign _node = '<li><a href="/'
           | append: group_title
           | append: '-'
           | append: group
           | append: '" id="'
           | append: group_title
           | append: '-'
           | append: group
           | append: '" title="'
           | append: group_title
           | append: '-'
           | append: group
           | append: '">'
           | append: group_title
           | append: '-'
           | append: group
           | append: '</a>'                     -%}

{%-   if node_type == "main"                    -%}

{%-      assign node = '<li'
           | append: class
           | append: '><a href="'
           | append: baseurl
           | append: '" id="'
           | append: title
           | append: '" title="'
           | append: stage
           | append: '">'
           | append: title
           | append: '</a>'                     -%}

{%-     if site.baseurl == baseurl                   -%}


{%-      capture nodes                          -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=11 %}</ul>
{%         include tabs.liquid size=10 %}</li>
{%         include tabs.liquid size=10 %}{{ node }}
{%         include tabs.liquid size=11 %}<ul>
{%         include tabs.liquid size=12 %}{{ _node}}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}

{%-     else -%}


{%-      capture nodes                          -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=11 %}</ul>
{%         include tabs.liquid size=10 %}</li>
{%         include tabs.liquid size=10 %}{{ node }}
{%         include tabs.liquid size=11 %}<ul>
{%         include tabs.liquid size=12 %}{{ _node}}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}


{%-     endif                                        -%}

{%-   else -%}

{%-     if site.baseurl == baseurl                   -%}

{%-      capture nodes                          -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=12 %}{{ _node }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}

{%-     else -%}


{%-      capture nodes                          -%}
{{         nodes                                 }}
{%         include tabs.liquid size=13 %}</ul>
{%         include tabs.liquid size=12 %}</li>
{%         include tabs.liquid size=12 %}{{ _node }}
{%         include tabs.liquid size=13 %}<ul>
{%-      endcapture                             -%}


{%-     endif                                        -%}

{%-   endif -%}